<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{{ style('stylesheets/global.css') }}
    <title>URL Shortener</title>
  </head>
  <body>
    @!section('content')
		<footer>URL SHORTENER &copy; Gabriel Oliveira / 2020</footer>
  </body>
</html>
